@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
input {
  appearance: none;
  outline: none;
  border: none;
  background: #eee;
  width: 100%;
  max-width: 320px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
img {
  width: 280px;
  height: 280px;
  margin: 2rem auto;
}

* {
  box-sizing: border-box;
}
